/*
** DESIGNED AND CODE BY BISHER AL-HALABI | Built on: bluemarine drupal theme and prosilver phpbb3 theme | requires advancedforum
*/
/*
** HTML elements
*/
body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #828282;
	background-color: #FFFFFF;
	font-size: 12px;
	margin: 16px;
	padding: 12px 0;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 100%;
}
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left;
  padding: 0 1em;
  border: 0;
   margin-top: 15px;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}

#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0;
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
  border-left: 1px solid #9cf;
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
  float:"right";
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.site-name {
  margin: 0.6em 0 0 0;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  width="80%";
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #ebebeb;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#footer {
  background-color: #eee;
  padding: 1em;
  font-size: 0.8em;
  float: middle;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color:#3300FF;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #12A3EB;
  background-image: url("bg_header.gif");
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
.head {
	background-color: #12A3EB;
	background-image: url("bg_header.gif");
	color: #FFFFFF;
	  width: 100%;
}
.code {
	padding: 3px;
	background-color: #FFFFFF;
	border: 1px solid #C9D2D8;
	font-size: 1em;
	margin-bottom: 10px;
	display: block;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, mono;
	line-height: 1.3em;
}
.navbar {
	background-color: #ebebeb;
	padding: 0 10px;
	width:98.2%; 
}
right {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}
fontsize {
	background-image: url("icon_fontsize.gif");
}
.copyright {
	padding: 5px;
	text-align: center;
	color: #555555;
}

/*
 * ICON STYLES
 *
 * Puts all the references to icon images in one place.
 */

/* Leaf, collapsed, and expanded icons used for navigation */
  .block li.leaf, ul.menu li.leaf
  {
    list-style-image: url(images/menu-leaf.png);
  }

  .block li.collapsed, ul.menu li.collapsed
  {
    list-style-image: url(images/menu-collapsed.png);
  }

  .block li.expanded, ul.menu li.expanded
  {
    list-style-image: url(images/menu-expanded.png);
  }

  .block li a.active
  {
    text-decoration: none;
  }

  .block ul li
  {
    list-style-image: url(images/bullet.png);
  }

/* Forum posts and recent blog posts */
  .block-forum ul li
  {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 5px 0 5px 20px;
    background-image: url(images/page.png);
    background-repeat: no-repeat;
    background-position: 0 .5em;
  }

  .block-blog ul li
  {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 5px 0 5px 20px;
    background-image: url(images/blog.png);
    background-repeat: no-repeat;
    background-position: 0 .7em;
  }

  /* Who's new & Who's online*/
  #block-user-2 ul li, #block-user-3 ul li
  {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 5px 0 5px 20px;
    background-image: url(images/user.png);
    background-repeat: no-repeat;
    background-position: 0 .5em;
  }

/* Status and Error icons */
  .messages
  {
    min-height: 16px; /* icon height */
    padding-left:5px;
    padding: 0 0 0 30px;
  }

  div.status
  {
    background-image: url(images/dialog-information.png);
    background-repeat: no-repeat;
    background-position: .5em 50%;
  }

  div.error
  {
    background-image: url(images/dialog-warning.png);
    background-repeat: no-repeat;
    background-position: .5em 50%;
  }

/* Node links such as add comments, User's blog, etc */
  #main .node div.links
  {
    padding: 5px 0 5px 13px;
    background: url(images/links.png) no-repeat 0 .93em;
  }

/* Administration panel */
  .admin-panel h3
  {
    background: #6191C5;
  }
#sizer {
float: right;
width:50px;
height:10px;
}
