/*modified by bisho for phpbb style for AF*/
/*
This document contains structural markup such as widths, margins,
padding, and floats
*/


/*** FORUM GENERAL ***********************************************************/

.clear {
  clear:both;
}

/*** PAGER *******************************************************************/

#forum .pager,
#forum-comments .pager {
  float: right;
  margin-top: 5px;
}

#forum .pager a,
#forum-comments .pager a {
  padding: 1px 3px;
  margin: 0pt;
}

#forum .pager li,
#forum-comments .pager li {
  padding:0pt;
}

#forum .pager li.pager-current,
#forum-comments .pager li.pager-current {
  padding: 2px 3px 2px 3px;
}

#forum-comments .item-list ul li {
}

#forum-comments .box {
  clear: both;
}

/*** FORUM CONTAINERS ********************************************************/

.forum-details {
}

.forum-description {
  padding: 10px 0;
}

td.forum {
  padding-left: 15px;
}

#forum td.container {
  border-top: 0;
  margin-top: 0;
  padding-left: 15px;
  padding-top: 5px;
}
#forum .container .description {
  font-size: .8em;
  font-weight: normal;
  margin: 0;
  padding: 3px 0 0 0;
}

#forum .description {
  margin-left: 0;
  padding-left: 0;
}

/*** FORUM TABLES ************************************************************/

/* General */

#forum table {
  clear: both;
}

#forum {
  width: 100%;
}

#forum table {
  width: 100%;
}

#forum th {
  border-bottom: 0;
  text-align: center;
}

#forum td.created,
#forum td.last-reply {
  font-size: 0.9em;
  line-height: 140%;
  padding: 0 10px;
}

#forum th.topic-topic,
#forum th.forum-name {
  padding-left: 35px;
  text-align: left;
}

#forum tr.even,
#forum tr.odd {
  border: 0;
}

.forum-indented {
  padding-left: 20px;
}

.indent {
  margin-left: 30px;
}

#forum td.replies,
#forum td.views,
#forum td.topics,
#forum td.posts {
  width: 35px;
}

#forum td.last-reply,
#forum td.created {
  white-space: normal !important;
  width: 130px;
}

/* Containers */

#forum td.container {
  padding-top: 5px;
}

#forum .description {
}

/* Topic listings */

#forum td.views {
  text-align: center;
  white-space: nowrap;
}

#forum td.statistics,
#forum td.settings,
#forum td.pager {

}

#forum td .links {
  padding-top: 10px;
}

/* Top links */
#forum .forum-top-links {
  margin-bottom: 10px;
}

#forum .forum-top-links li {
  margin: 0;
  padding-right: 15px;
}

/* Icons */
#forum .forum-icon {
  float: left;
  padding: 0 10px;
}

.icon-explain {
  padding: 2px;
}

/*** FORUM THREADS ***********************************************************/

.forum-comment {
  margin: 0 0 5px 0;
  padding: 0;
}

.forum-post-wrapper {
  clear: both;
  height: 1%;
}

/* Header at the top of each post */
.post-info {
}

.posted-on {
  padding: 0 10px;
}

.post-title {
  float: left;
  padding-left: 160px;
}

.forum-comment .new {
}

.post-num {
  float: right;
  margin-right: 5px;
}

/* User info section */

.user-info {
  margin: 5px;
}

.user-info div {
  margin-bottom: 6px;
}

.forum-comment-left {
  float: left;
  line-height: 110%;
  overflow: hidden;
  width: 180px;
}

.forum-comment-left .author-name {
  margin-bottom: 5px;
  padding: 0;
}

.forum-comment-left .picture {
  float: none;
  margin: 10px 0;
  padding-left: 0px;
}

.forum-comment-left .picture img {
  height: auto; 
  padding: 8px;
}

.author-title, 
.author-posts, 
.author-regdate, 
.author-points {
  padding-bottom: 5px;
}

.author-icons {
  padding: 5px 0 0 0;
}

/* Post text area */
.forum-comment-right {
  margin-left: 10px; /*Set left margin to LeftColumnWidth*/
}

.forum-comment-right .content {
  margin: 10px;
}

.forum-comment-right .post-title,
.forum-comment-right .content {
  margin-left: 0;
  padding-left: 10px;
}

.forum-comment-right p {
  margin-right: 10px;
}

/* Links */

.forum-comment .links {
  height: 20px;
  line-height: 160%;
  margin: 2px;
  text-align: right;
}
